[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JumpDiffSim"]
	path = JumpDiffSim
	url = https://github.com/kennedy2244/jumpdiffsim
